# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config SECURE_BOOT_APPCORE
	default y if BOARD_NRF54H20DK_NRF54H20_CPUAPP_IRON_MCUBOOT_B0

choice BOOTLOADER
	default BOOTLOADER_MCUBOOT if BOARD_NRF54H20DK_NRF54H20_CPUAPP_IRON_MCUBOOT_B0
endchoice
