# Copyright (c) 2020-2021 Nordic Semiconductor (ASA)
# SPDX-License-Identifier: Apache-2.0

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_IPC_SHM := zephyr,ipc_shm
DT_CHOSEN_Z_IPC := zephyr,ipc
DT_CHOSEN_Z_IPC_TX := zephyr,ipc_tx
DT_CHOSEN_Z_IPC_RX := zephyr,ipc_rx

config IPC_SERVICE_SINGLE_DEV_SUPPORT
	bool
	default $(dt_chosen_enabled,$(DT_CHOSEN_Z_IPC))

config IPC_SERVICE_DUAL_DEV_SUPPORT
	bool
	default $(dt_chosen_enabled,$(DT_CHOSEN_Z_IPC_TX)) && \
		$(dt_chosen_enabled,$(DT_CHOSEN_Z_IPC_RX))

menuconfig IPC_SERVICE
	bool "IPC service for multiple users"
	select IPM
	select OPENAMP
	help
	  Enables support for a service that can be shared by multiple
	  users to establish an IPC endpoints for given channel.

if IPC_SERVICE

config IPC_SERVICE_SHM_BASE_ADDRESS
	hex
	default "$(dt_chosen_reg_addr_hex,$(DT_CHOSEN_Z_IPC_SHM))"
	help
	  This option specifies base address of the memory region to
	  be used for the OpenAMP IPC shared memory

config IPC_SERVICE_SHM_SIZE
	hex
	default "$(dt_chosen_reg_size_hex,$(DT_CHOSEN_Z_IPC_SHM))"
	help
	  This option specifies size of the memory region to be used
	  for the OpenAMP IPC shared memory

if IPC_SERVICE_SINGLE_DEV_SUPPORT

config IPC_SERVICE_DEV_NAME
	string
	default "$(dt_chosen_label,$(DT_CHOSEN_Z_IPC))"
	help
	  This option specifies the device name for the IPC device to be used

endif # IPC_SERVICE_SINGLE_DEV_SUPPORT

if IPC_SERVICE_DUAL_DEV_SUPPORT

config IPC_SERVICE_TX_DEV_NAME
	string
	default "$(dt_chosen_label,$(DT_CHOSEN_Z_IPC_TX))"
	help
	  This option specifies the device name for the IPC device to be used

config IPC_SERVICE_RX_DEV_NAME
	string
	default "$(dt_chosen_label,$(DT_CHOSEN_Z_IPC_RX))"
	help
	  This option specifies the device name for the IPC device to be used

endif # IPC_SERVICE_DUAL_DEV_SUPPORT

choice IPC_SERVICE_MODE
	prompt "IPC Service mode"

config IPC_SERVICE_MODE_MASTER
	bool "IPC master"
	select OPENAMP_MASTER

config IPC_SERVICE_MODE_REMOTE
	bool "IPC remote"
	select OPENAMP_SLAVE

endchoice

config IPC_SERVICE_NUM_ENDPOINTS
	int "Max number of registered endpoints"
	default 2
	help
	  Maximal number of endpoints that can be registered for given
	  IPC service.

config IPC_SERVICE_INIT_PRIORITY
	int "Initialization priority of IPC service"
	default 48
	help
	  The order of IPC Service initialization and endpoints registration
	  is important to avoid race conditions in IPC endpoints handshake.

	  If in doubt, do not modify this value.

config IPC_SERVICE_EP_REG_PRIORITY
	int "Initialization priority of modules registering IPC endpoints"
	default 47
	help
	  The endpoints must be registered before IPC Service is initialized.

	  If in doubt, do not modify this value.

endif # IPC_SERVICE
