/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf5340_cpuapp_qkaa.dtsi>
#include "nrf5340_cpuapp_common.dtsi"

/ {
	model = "Nordic NRF5340 DK NRF5340 Application";
	compatible = "nordic,nrf5340-dk-nrf5340-cpuapp";

	chosen {
		zephyr,sram = &sram0_image;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,sram-secure-partition = &sram0_s;
		zephyr,sram-non-secure-partition = &sram0_ns;
	};
};

&led0 {
	gpios = <&gpio0 26 0>;
};

&led1 {
	gpios = <&gpio0 29 0>;
};
/delete-node/ &{/pin-controller/pwm0_sleep/group1/};
/delete-node/ &{/pin-controller/pwm0_default/group1/};

&button0 {
	gpios = <&gpio0 28 0>;
};

&button1 {
	gpios = <&gpio0 30 0>;
};

&led2 {
	gpios = <&gpio0 27 0>;
};

&gpio_fwd {
	uart {
		gpios = <&gpio0 31 0>, <&gpio0 25 0>;
	};

	status = "okay";
};

&led3 {
	gpios = <&gpio0 11 0>;
};

&button2 {
	gpios = <&gpio0 10 0>;
};
