# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF54L15DK_NRF54L15_CPUAPP

config BT_CTLR
	default BT

config ROM_START_OFFSET
	default 0 if PARTITION_MANAGER_ENABLED
	default 0x800 if BOOTLOADER_MCUBOOT

endif # BOARD_NRF54L15DK_NRF54L15_CPUAPP

# What MCUboot requires is here
if MCUBOOT

# Within sdk-nrf NRF security is default
config NRF_SECURITY
	default y
	select NRF_OBERON

# NRF_SECURITY enforces PSA crypt
config MBEDTLS
	default n

endif # MCUBOOT

if BOARD_NRF54L15DK_NRF54L15_CPUAPP_NS

config BT_CTLR
	default BT

# By default, if we build for a Non-Secure version of the board,
# enable building with TF-M as the Secure Execution Environment.
config BUILD_WITH_TFM
	default y if BOARD_NRF54L15DK_NRF54L15_CPUAPP_NS

# By default, if we build with TF-M, instruct build system to
# flash the combined TF-M (Secure) & Zephyr (Non Secure) image
config TFM_FLASH_MERGED_BINARY
	default y
	depends on BUILD_WITH_TFM

endif #BOARD_NRF54L15DK_NRF54L15_CPUAPP_NS
