/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
 */

 / {
	chosen {
		/delete-property/ zephyr,console;
		/delete-property/ zephyr,shell-uart;
	};
};

&uart135 {
	status = "disabled";
	/delete-property/memory-regions;
};

&uart136 {
	status = "disabled";
	/delete-property/memory-regions;
};

&cpurad_cpusys_ipc {
	status = "okay";
};

&cpusys_vevif {
	status = "okay";
};

&cpurad_dma_region {
	status = "okay";
};
