name: handle manifest PR
on:
  pull_request_target:
    types: [opened, synchronize, closed, reopened]
    branches:
      - main
      - ncs-v3.2-branch

permissions:
  contents: read

jobs:
  call-manifest-pr-action:
    runs-on: ubuntu-latest
    steps:
      - name: handle manifest PR
        uses: nrfconnect/action-manifest-pr@main
        with:
          token: ${{ secrets.NCS_GITHUB_TOKEN }}
          manifest-pr-title-details: ${{ github.event.pull_request.title }}
          base-branch: ${{ github.event.pull_request.base.ref == 'ncs-v3.2-branch' && 'v3.2-branch' || 'main' }}
